<div id='tree_description' class='span8 well'>
  <h1>Your tree will grow with every visitor you bring,<br/> as will your impact on education.</h1>
  <h3>The total below is the amount you and your friends have raised for DonorsChoose.org.</h3>
</div>
<%= render :partial => 'link', :locals => { :link => @links.last } %>
<% content_for(:javascript) do %>
  <% unless @links.empty? %>
    <% if Rails.env.production? %>
    givingTree.startRendering("http://seedthelearning.com/trees/<%= @links.last.text %>.json")
    <% else %>
    givingTree.startRendering("http://localhost:3000/trees/<%= @links.last.text %>.json")
    <% end %>
  <% end %>
<% end %>
<div class='clearfix'></div>
<div id="tree"></div>
