<div id='header'>
  <h1>Seed The Learning</h1>
</div>
<div class='row'>
  <h2 class='span12'>How Does It Work?</h2>
  <div id='walkthrough'>
    <div class='span4'>
      <div class='well'>
        <h3>Plant Your Seed</h3>
        <%= image_tag 'seed.jpg', class: 'thumbnail' %>
      </div>
    </div>
    <div class='span4'>
      <div class='well'>
        <h3>Plant Your Seed</h3>
        <%= image_tag 'seed.jpg', class: 'thumbnail' %>
      </div>
    </div>
    <div class='span4'>
      <div class='well'>
        <h3>Plant Your Seed</h3>
        <%= image_tag 'seed.jpg', class: 'thumbnail' %>
      </div>
    </div>
  </div>
</div>
