// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.link input {
  width: 360px;
}

div.social a {
  display: block;
  float: left;
  margin: 5px 10px 0 5px;
  width: 50px;
  height: 50px;
  text-indent: -424242px;
}

div.social a.twitter {
  background: url('twitter.png');
}
div.social a.facebook {
  background: url('facebook.png');
}
div.social a.pinterest {
  background: url('pinterest.png');
}

div.link_left {
  float: left;
  width: 400px;
}

div.link_right {
  float: right;
  text-align: right;
  width: 600px;
}

div.link_right h2 {
  font-size:4em;
}

div.link_right ul {
  float: right;
  text-align: center;
  list-style-type: none;
}

div.link_right li {
  float: left;
  margin-right:40px;
}

div.link_right li p {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom:15px;
}
