// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#header {
  width: 972px;
  height: 130px;
  margin:0 auto;
  text-indent: -424242px;
  background:url('header.png') no-repeat top left;
}

div#seed {
  width: 700px;
  height: 40px;
  margin: 5px auto;
  padding: 72px;
  background: url('seed.png') no-repeat top center;
}

div#seed form {
  width: 700px;
  padding: 10px 58px 0;
  font-weight: bold;
  font-size: 36px;
}

div#seed form span,
div#seed form input {
  float: left;
}

div#seed span {
  margin-top: 15px;
}

div#seed form input#seed_amount {
  width: 80px;
  height: 50px;
  margin: 0 40px;
  font-size: 36px;
}

div#seed form input#submit {
  margin-left: 12px;
  font-weight: bold;
  font-size: 24px;
}

div#walkthrough div.step_left {
  width: 63%;
  float: left;
}

div#walkthrough div.step img {
  width: 29%;
  float: right;
  margin-right: 2px;
  padding: 3px;
  border: 1px solid #CCC;
}
