// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#header {
  width: 972px;
  height: 130px;
  margin:0 auto;
  text-indent: -424242px;
  background:url('header.png') no-repeat top left;
}
